{% extends 'bootstrap_4_layout.html.twig' %}

{% block form_label %}
    {{ parent() }}

    {% if required %}
        <span class="form-required text-danger" title="هذا الحقل مطلوب">*</span>
    {% endif %}
{% endblock %}
