{% extends 'shop/layout.html.twig' %}
{% block title %}دفع{% endblock %}

{% block breadcrumb %}
<div class="breadcrumbs">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">الهوية</li>
                <li class="breadcrumb-item " >عنوان</li>
                <li class="breadcrumb-item">تسليم</li>
                <li class="breadcrumb-item">صفة</li>
                <li class="breadcrumb-item active" aria-current="page">دفع</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block shop_content %}
<header class="mb-4">
    <h1>دفع</h1>
</header>

<script src="https://js.stripe.com/v3/"></script>

<div class="row">
    <div class="col-md">
        <h4>بالبطاقة</h4>
            <div id="card-errors-container" class="my-2 card-errors-container">
                <span class="badge badge-danger">خطأ</span>
                <span id="card-errors" class="my-4"></span>
            </div>
        <form action="" method="post" id="payment-form" data-stripe-pk="{{ stripe_pk }}">

            <div class="form-group">
                <label for="card-number">رقم البطاقة</label>
                <div id="card-number" class="form-control"></div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="card-expiry">تاريخ نهاية الصلاحية</label>
                    <div id="card-expiry" class="form-control"></div>
                </div>
                <div class="col">
                    <label for="card-cvc">card cvc</label>
                    <div id="card-cvc" class="form-control"></div>
                </div>
            </div>


            <input type="submit" value="Payer {{ total_price }} $" class="btn btn-primary mt-4">
        </form>
    </div>

    <div class="col-md mt-4 mt-md-0">
        <h4>paypal</h4>
        <a href="" class="basket-checkout__order btn btn-primary">الدفع paypal</a>
    </div>
</div>

{% endblock %}


