{% extends 'shop/layout.html.twig' %}
{% block title %}تسليم{% endblock %}

{% block breadcrumb %}
<div class="breadcrumbs">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">الهوية</li>
                <li class="breadcrumb-item " aria-current="page">عنوان</li>
                <li class="breadcrumb-item active">تسليم</li>
                <li class="breadcrumb-item">صفة</li>
                <li class="breadcrumb-item">دفع</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block shop_content %}
<header class="mb-4">
    <h1>تسليم</h1>
</header>

{{ form_start(form, { 'attr': { 'id': 'form' } })  }}
    {% for shippingMethod in form.shippingMethod %}
        {% set index = shippingMethod.vars.value %}
        {% set entity = form.shippingMethod.vars.choices[index].data %}
        {% if entity.fee == 0 %}
            {% set label = entity.name ~ ' gratuit' %}
        {% else %}
            {% set label = entity.name ~ ' ' ~ entity.fee ~ ' $' %}
        {% endif %}
        {{ form_row(shippingMethod, {
            'label': label,
        }) }}
    {% endfor %}
{{ form_end(form) }}
<input type="submit" form="form" value="submit" class="btn btn-primary">

{% endblock %}
