{% extends 'shop/layout.html.twig' %}
{% block title %}الفاتورة{% endblock %}

{% block breadcrumb %}
<div class="breadcrumbs">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">الهوية</li>
                <li class="breadcrumb-item " aria-current="page">عنوان</li>
                <li class="breadcrumb-item ">تسليم</li>
                <li class="breadcrumb-item active" aria-current="page">الفاتورة</li>
                <li class="breadcrumb-item">دفع</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block shop_content %}
<header class="mb-4">
    <h1>الفاتورة</h1>
</header>

<table class="table">
    <thead>
        <tr class="row">
            <th class="col-6">منتج</th>
            <th class="col">الكمية</th>
            <th class="col">الاجمالى</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr class="row">
                <td class="col-6">
                    <div class="row">
                        {% set image = product.images|first %}
                        <div class="col">
                            {#<img src="/img/upload/{{ image.name }}" alt="{{ image.description }}" class="img img-fluid">#}
                        </div>
                        <div class="col">
                            {{ product.name }}
                        </div>
                    </div>
                </td>
                <td class="col">{{ product.quantity }}</td>
                <td class="col">{{ product.calcTotalPrice }} $</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-end">
    <div>
        <p>
            <span class="font-weight-bold">المجموع الفرعي:</span> {{ total_price }} $
        </p>
        <p>
            <span class="font-weight-bold">تسليم:</span>
            {% if shipping_fee == 0 %}
                gratuite
            {% else %}
                {{ shipping_fee }} $
            {% endif %}
        </p>
        <p>
            <span class="font-weight-bold">بما في ذلك ضريبة القيمة المضافة:</span>
            {{ vat_price }} $
        </p>
        <p>
            <span class="font-weight-bold">المجموع لدفع:</span>
            {{ grand_total }} $
        </p>
    </div>
</div>

<a href="{{ path('checkout_payment') }}" class="btn btn-primary">التالي</a>

{% endblock %}
