{% extends 'admin/layout.html.twig' %}
{% block title %}إدارة{% endblock title %}

{% block admin_content %}
    <header class="mb-4">
        <h1>إدارة</h1>
    </header>
    <p>{{ product_rows }} منتجات للبيع</p>
    <p>{{ total_revenue }} $ المبيعات</p>

{% endblock %}
