{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-lg-none my-3 d-flex justify-content-end">
                <button class="btn" data-toggle="collapse" data-target="#sidebar">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            
            <nav id="sidebar" class="sidebar collapse d-lg-block col-12 col-lg-3 col-xl-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}">مرحبا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_product-editor') }}">أضف منتج</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_product-index') }}">عرض المنتجات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_order-index') }}">الطلبات</a>
                    </li>
                </ul>
            </nav>
            
            <main class="col-lg-9 col-xl-10 py-lg-4 py-md-3 py-2">
                {% block admin_content %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
