{% extends 'admin/layout.html.twig' %}
{% block title %}الطلبات{% endblock title %}

{% block admin_content %}
<header class="mb-4">
    <h1>الطلبات</h1>
</header>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>التاريخ</th>
            <th>الحالة</th>
            <th>الاجمالى</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{{ path('admin_order-show', { 'id': order.id }) }}">{{ order.id }}</a>
                </td>
                <td>
                    {{ order.dateCreated|date('d/m/Y a H\\hi') }}
                </td>
                <td>
                    <div class="badge badge-primary p-2">
                       {{ order.status }} 
                    </div>
                </td>
                <td>
                    {{ order.transaction.total }} $
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
