{% extends 'shop/layout.html.twig' %}
{% block title %}سلة{% endblock %}

{% block shop_content %}

<header class="mb-4">
    <h1>سلتي</h1>
</header>

{% if products is empty %}
    <div class="basket-empty">
        <p>السلة فارغة.</p>
        <a href="/" class="btn btn-info">مواصلة التسوق</a>
    </div>
{% else %}
    <div class="basket-products mb-4">
        {% for product in products %}
            <div class="basket-product row border-bottom py-2">
                {% set thumb = product.images|first %}
                <div class="col-4 col-sm-6 col-md-2">
                    <a href="{{ path('product_show', {'slug': product.slug}) }}">
                        {#<img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="basket-product__img img img-fluid">#}
                    </a>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md pb-2">
                            <span class="basket-product__name">
                                {{ product.name }}
                            </span>
                        </div>
                        <div class="col-md-2 pb-2">
                            <input class="basket-product__quantity form-control" type="number" name="quantity" data-target-id="{{ product.id }}" min="1" value="{{ product.quantity }}">
                        </div>
                        <div class="col-md pb-2">
                            <span class="basket-product__price" data-target-id="{{ product.id }}">
                                {{ product.calcTotalPrice }} $
                            </span>
                        </div>
                        <div class="col-md pb-2">
                            <a href="/basket/remove/{{ product.id }}" class="basket-product__remove btn" title="Supprimer">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex">
        <div class="basket-checkout ml-auto">
            <p class="basket-checkout__total">
                المجموع الفرعي: <span class="basket-checkout__total-price">{{ totalPrice }}</span> $
            </p>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('checkout_address') }}" class="basket-checkout__order btn btn-primary">الطلب</a>
            {% else %}
                <a href="{{ path('user_welcome', {'order': true }) }}" class="basket-checkout__order btn btn-primary">الطلب</a>
            {% endif %}
        </div>
    </div>

{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="js/basket.js"></script>
{% endblock %}
