{% extends 'shop/layout.html.twig' %}
{% block title %}تأكيد الطلب{% endblock %}

{% block shop_content %}
<header>
    <h1>تأكيد الطلب</h1>
</header>

<p>شكرا لطلبك ، سوف تتلقى رسالة تأكيد بالبريد الإلكتروني.</p>

{% endblock %}
