<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-commerce{% endblock %}</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="description" content="E-commerce">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/build/app.css">
        <script src="/build/app.js"></script>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="">
        <header class="top-header bg-white">
            <nav class="top-nav navbar navbar-light">
                <a href="{{ path('index') }}" class="navbar-brand">E-commerce</a>
                
                <div class="nav-right d-flex mx-2">
                    <div class="dropdown mr-4">
                        <i class="far fa-user"></i>
                        <div class="dropdown-menu">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('user_account') }}" class="dropdown-item">حسابي</a>
                            {% else %}
                                <a href="{{ path('user_welcome') }}" class="dropdown-item">تسجيل الدخول</a>
                                <a href="{{ path('user_welcome') }}" class="dropdown-item">حساب جديد</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin_index') }}">إدارة</a>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="dropdown-item" href="{{ path('security_logout' )}}">تسجيل الخروج</a>
                            {% endif %}
                        </div>
                    </div>
              
                    <a class="basket-link mx-2" href="{{ path('basket_show') }}">
                        <i class="fas fa-shopping-cart"></i>
                        <div class="basket-count d-flex justify-content-center align-items-center">
                            <span class="text-white">
                                {{ render(controller('App\\Controller\\BasketController::productCount')) }}
                            </span>
                        </div>
                    </a>
                </div>
            </nav>
        </header>
        
        {% if app.request.attributes.get('_route') == 'index' %}
            <div class="hero"></div>
        {% endif %}
        
        {% block breadcrumb %}{% endblock breadcrumb %}

        {% if app.session.flashbag.peekAll is not empty %}
            <div class="flash container mt-2" id="flash">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            <span class="font-weight-bold">{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        <footer class="footer mt-5">

            {% block footer %}{% endblock %}
        </footer>
        <script src="/js/flash.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
