{{ form_row(address_form.address1, {
    'label': 'شارع',
}) }}
{{ form_row(address_form.address2, {
    'label': 'استكمال',
    'required': false,
    'attr': {
        'placeholder': 'شقة ، الطابق ، الدرج ، الخ.',
    },
}) }}
<div class="form-row">
    <div class="col form-group">
        {{ form_label(address_form.postCode, 'الرقم البريدي') }}
        {{ form_widget(address_form.postCode) }}
    </div>
    <div class="col form-group">
        {{ form_label(address_form.city, 'مدينة') }}
        {{ form_widget(address_form.city) }}
    </div>
</div>
{{ form_row(address_form.phone, {
    'label': 'الهاتف',
    'required': false,
}) }}
