{% extends 'shop/layout.html.twig' %}
{% block title %}حسابي{% endblock title %}

{% block shop_content %}

{{ form_start(form) }}
    {{ form_row(form.oldPassword, {
        'label': 'كلمة السر الحالية',
    }) }}
    {{ form_row(form.newPassword.first, {
        'label': '
كلمة مرور جديدة',
    }) }}
    {{ form_row(form.newPassword.second, {
        'label': 'كرر كلمة المرور',
    }) }}

    <input type="submit" value="submit" class="btn btn-primary">
{{ form_end(form) }}

{% endblock %}
