{#{% if error %}#}
    {#<div class="invalid-feedback d-block">#}
        {#<span class="initialism form-error-icon badge badge-danger">خطأ</span>#}
        {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
    {#</div>#}
{#{% endif %}#}

{#{{ form_start(loginForm) }}#}
    {#{{ form_row(loginForm.username, {#}
        {#'full_name': '_email',#}
        {#'value': lastUserName,#}
        {#'label': 'البريد الالكترونى',#}
    {#}) }}#}
    {#{{ form_row(loginForm.plainPassword, {#}
        {#'full_name': '_password',#}
        {#'label': 'كلمة المرور',#}
    {#}) }}#}

    {#{% if order == true %}#}
        {#<input type="hidden" name="_target_path" value="{{ path('checkout_address') }}" />#}
    {#{% endif %}#}

    {#<input type="submit" value="submit" class="btn btn-primary">#}
{#{{ form_end(loginForm) }}#}








      <form name="login" method="post" action="/admin/login">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="_email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
