{% extends 'shop/layout.html.twig' %}
{% block title %}الطلبات{% endblock title %}

{% block shop_content %}

<header class="mb-4">
    <h1>طلباتى</h1>
</header>

<nav>
    <ul class="nav nav-tabs user-account-tabs">
        <li class="nav-item">
            <a href="{{ path('user_account') }}" class="nav-link active">الحساب</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user_orders') }}" class="nav-link active">الطلبات</a>
        </li>
    </ul>
</nav>

<div class="card">
    <div class="card-body">
        {% if orders is empty %}
            <p>لا يوجد طلبات في الوقت الحالي.</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>التاريخ</th>
                        <th>الحالة</th>
                        <th>الاجاملى</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ path('user_order', { 'id': order.id }) }}">{{ order.id }}</a>
                            </td>
                            <td>
                                {{ order.dateCreated|date() }}
                            </td>
                            <td>
                                <div class="badge badge-primary p-2">
                                    {{ order.status }}
                                </div>
                            </td>
                            <td>
                                {{ order.transaction.total }} €
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

{% endblock %}
