
{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

    {% if order == true %}
        <input type="hidden" name="_target_path" value="{{ path('checkout_address') }}" />
    {% endif %}

    <input type="submit" value="Submit" class="btn btn-primary">
{{ form_end(registrationForm) }}
